html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #eee;
  min-width: 100vw;
  min-height: 100vh;
}

button {
  padding: 0.5em;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  min-height: 30px;
  background-color: #000;
}

header a {
  color: #f1f1f1;
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
}

nav button {
  margin-right: 1em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: calc(100vh - 65px);
}

main section {
  padding: 2em;
  display: block;
  min-width: 55%;
  max-width: 65vw;
  background: #fff;
  box-shadow: 3px 3px 5px 6px #ccc;
}

section h4 {
  color: #666;
}

section input {
  margin: 1em 0;
  padding: 8px 8px 8px 38px;
  border-radius: 5px;
  border-color: #999;
}

section p input {
  margin: 0;
}

section [type='text'] {
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 15%;
}

section [data-moneyinput] {
  background-image: url('../images/naira.svg');
}

section [data-nubaninput] {
  background-image: url('../images/wallet.svg');
}

section [data-nameinput] {
  background-size: 12%;
  background-image: url('../images/person.svg');
}

section [data-bankinput] {
  background-size: 12%;
  background-image: url('../images/bank.svg');
}

section button {
  margin-top: 1em;
  text-transform: uppercase;
  padding-right: 86px;
  background-position: 90% center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url('../images/send.svg');
}

form button.busy {
  background-image: url('../images/busy.svg');
}

section button:hover {
  background-color: #eee;
}

section [data-parties] {
  display: flex;
  flex-wrap: wrap;
}

[data-parties] aside {
  margin-right: 1.5em;
}

[data-action-go] {
  padding-top: 1em;
  border-top: 1px solid;
  margin-top: 1em;
}

@media screen and (min-width: 850px) {
  [data-parties] aside + aside {
    margin-left: 2em;
  }
}
